<% @title = "Pool hinzufügen" %>

<h3>Pool hinzufügen</h3>

<%= simple_form_for(@pool, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.input :pool_name, label: "Poolname" %>
  <%= f.submit "Speichern", class: "btn btn-success" %>
<% end %>
