<% @title = "Notebook kommentieren" %>

<h3>Notebook kommentieren</h3>

<%= simple_form_for(@notebook, :html => {:class => "form-vertical" }) do |f| %>
  <%= f.input :comment, label: "Kommentar", :as => "text" %>
<% end %>
