<% @title = "Benutzer verwalten" %>

<h2>Liste der Benutzer</h2>

<table class="table">
  <tr>
    <th>Username</th>
    <th></th>
  </tr>
  <% @users.each do |u| %>
    <% if u.is_admin == false %> 
      <tr>
        <td><%= u.username %></td>
        <td><%= link_to "<i class=\"icon-remove\"></i>".html_safe, u, :class => "btn btn-small btn-danger", :confirm => "Wollen Sie diesen Benutzer wirklich löschen?", method: :delete %></td>
      </tr>
    <% end %>
  <% end %>  
</table>

<br />

<%= link_to "Benutzer hinzufügen", new_user_path, :class => "btn btn-primary" %>
