<% @title = "Benutzer verwalten" %>

<h2>Liste der Benutzer</h2>

<table>
  <tr>
    <th>Username</th>
    <th></th>
  </tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.username %></td>
      <td>(<%= link_to "löschen", u, :confirm => "Wollen Sie diesen Benutzer wirklich löschen?", method: :delete %>)</td>
    </tr>
  <% end %>  
</table>

<br />

<%= link_to "Benutzer hinzufügen", new_user_path %>
