/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

//State for Notebooks

 .available { 
  background-color: #90ee90;
  padding: 10px;
  margin-bottom: 20px;
}

 .islent { 
  background-color: #dc143c;
  padding: 10px;
  margin-bottom: 20px;
}

//State for Lendings

 .intime {
  background-color: lightblue;
  padding: 10px;
  vertical-align: middle;
 
}

 .outtime {
  background-color: #dc143c;
  padding: 10px;
  margin-bottom: 20px;
 
}

//User Nav at top-right

 #user_nav {
  padding-top: 10px;
  text-align: right;
}

//Width for colums in Lending View

 .info1 {
 min-width: 130px;
 break-word: word-wrap;
}

 .info2 {
 min-width: 100px;
 break-word: word-wrap;
 table td, table th { text-align: center;}
}
 
 .info3 {
 min-width: 80px;
 break-word: word-wrap;
}

 .info4 {
 min-width: 50px;
 break-word: word-wrap;
}

 .info5 {
 width: 15px;
 break-word: word-wrap;
 background-color: #949CCE;
 
}
