<% @title = "Standort bearbeiten" %>

<h2>Standort hinzufügen</h2>

<%= simple_form_for(@location, :html => {:class => "form-horizontal" }) do |f| %>
  <%= f.input :loc_acronym, label: "Standortkürzel" %>
  <%= f.submit "Speichern", class: "btn btn-success" %>
<% end %>
